.right-palette-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
}

.right-palette-container .tab-panel {
  padding: 8px !important;
}

.right-palette-form-item {
  display: block;
  margin-bottom: 16px;
}

.right-palette-form-item-mapping {
  margin-bottom: 16px;
  max-width: 90% !important;
  display: inline-block;
}

.mapping-button {
  background-color: #e8e8e8;
  padding-inline-end: unset;
  border-color: #0f62fe;
}

.component-types {
  margin-bottom: 1rem;
}

.options-section {
  display: grid;
}

.option-input {
  padding-bottom: 0.25rem;
}

.options-row-input {
  display: flex !important;
}

.opt-btn {
  background-color: #e8e8e8;
  padding-inline-end: unset;
  border-color: #0f62fe;
  margin-top: 1.5rem;
}

.opt-btn > svg {
  margin-right: 1rem;
}

.right-palette-form-item-mapping {
  margin-bottom: 8px;
  max-width: 90% !important;
  display: inline-block;
}

.mapping-button {
  background-color: #e8e8e8;
  padding-inline-end: unset;
  border-color: #0f62fe;
}

.mapping-button > svg {
  margin-right: 1rem;
}

.mapping-text-field {
  margin-bottom: 16px;
  max-width: 70% !important;
  min-width: 70% !important;
  display: inline-block;
}

.component-type-id {
  display: grid;
  margin-bottom: 16px;
}

.component-type-id-label {
  margin-bottom: 0.25rem;
  font-size: 14px;
  font-weight: 600;
}

.regex-types {
  margin-bottom: 16px;
}

.add-header {
  padding-right: 1rem;
  margin-left: 2.9rem;
  margin-bottom: 1rem;
}

.delete-table-column {
  margin-top: 0.5rem;
}

.cds--tabs.cds--tabs--contained {
  margin: 0px !important;
}

.table-row {
  margin-top: 1rem;
}

.add-row {
  padding-right: 3rem;
  margin-left: 4.55rem;
  margin-bottom: 1rem;
}