.activity-actions {
  display: flex;
  justify-content: right;
  background-color: #161616;
  --cds-grid-gutter-start: calc(var(--cds-grid-gutter) / 2);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
