
@b2bi:registry=https://artifactory.syncdi1.us.syncsort.com/artifactory/api/npm/b2bi-npm/
//artifactory.syncdi1.us.syncsort.com/artifactory/api/npm/b2bi-npm/:_password=QVA4R1ZmdjZGcFhHaGRxTlpEdDRoS3B4NEx6NUVLRXpzNldqdGg=
//artifactory.syncdi1.us.syncsort.com/artifactory/api/npm/b2bi-npm/:username=pem-publisher
//artifactory.syncdi1.us.syncsort.com/artifactory/api/npm/b2bi-npm/:email=jrampon@syncsort.com
//artifactory.syncdi1.us.syncsort.com/artifactory/api/npm/b2bi-npm/:always-auth=true
