.dnd-flow {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
}

.dnd-flow .reactflow-wrapper {
  flex-grow: 1;
}

.dnd-flow .selectall {
  margin-top: 10px;
}

.dnd-flow .task-tray-container {
  display: flex;
  align-items: center;
  width: 74px;
}
