.cds--modal-scroll-content {
  mask-image: linear-gradient(to bottom, var(--cds-layer) calc(100% - 0px), transparent calc(100% - 0px), transparent 100%),
    linear-gradient(to left, var(--cds-layer) 0, 2px, transparent 2px), linear-gradient(to right, var(--cds-layer) 0, 2px, transparent 2px),
    linear-gradient(to top, var(--cds-layer) 0, 2px, transparent 2px);
}

.cds--tabs .cds--tab--list {
  width: 100%;
}

.cds--modal-header__heading {
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
}

.define-grid {
  --cds-grid-gutter-start: none;
  padding-inline: unset;
}

.col-margin {
  margin: 0.5rem;
  display: flex;
}

.partners_rollout-container {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners_tags {
  width: 100%;
  margin: 0.5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f4f4f4;
  padding: 8px;
  min-height: 100px;
  max-height: 150px;
  overflow-y: auto;
}

.right-arrow-container {
  display: flex;
  align-items: center;
  justify-self: center;
}

.select-all-checkbox {
  display: flex;
  align-items: flex-end;
  margin: 0.5rem;
  display: flex;
}

.rollout-list-text {
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
}

.no-data-display-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
}

.add-button {
  margin-left: 1rem;
  margin-top: 18px;
  position: relative;
  top: -16px;
}

.partners-details-view-container {
  --cds-grid-gutter-start: none;
  padding-inline: unset;
  height: 100%;
}

.partners-details-view {
  background-color: #f4f4f4;
}

.partners-tab-title {
  font-family: IBM Plex Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  letter-spacing: -0.011em;
  text-align: left;
  margin: 8px;
}

.cds--tabs__nav-item-label-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cds--search {
  width: 100% !important;
}

.partners-data-item .cds--checkbox-label-text {
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: #0f62fe;
}

.partners-data-item {
  display: flex;
  color: #0f62fe;
  font-size: 14px;
  font-weight: 400;
  font-family: IBM Plex Sans;
}

.partner-checkbox-label {
  cursor: pointer;
}

.partner-checkbox-label:hover {
  text-decoration: underline;
}

.details-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* Align items to the top */
  margin: 1rem;
}

.details-container > div {
  flex: 1;
  margin-right: 1rem;
}

.details-container > div:last-child {
  margin-right: 0;
}

.context-data-view {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f4f4;
}

.show-code-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #f4f4f4;
}

.show-code-title {
  border-left: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 4px;
  cursor: pointer;
}

.context-data-code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  min-height: 100px;
  max-height: 150px;
  overflow-y: auto;
}

.context-data-code {
  font-family: IBM Plex Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: #a8a8a8;
}

.context-selection-icon {
  background-color: #e8e8e8;
  padding-inline: unset;
  padding: 1rem;
  margin: 0.5rem 0rem 0rem 3rem;
  border-color: #0f62fe;
}