.dnd-flow {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.dnd-flow .task-tray-container {
  display: flex;
  align-items: center;
  width: 74px;
  background-color: #ffffff;
}

.dnd-flow .reactflow-wrapper {
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
}

.dnd-flow .task-properties-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: sticky;
  background-color: #f1f1f1;
}

.react-flow__controls {
  left: initial !important;
}
