.designer-container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0px 8px;
  flex-direction: column;
}

.layout-container {
  flex: 1;
  width: 100%;
  display: flex;
}

.leftSideBar {
  width: 270px;
  height: 100vh;
  display: flex;
  position: sticky;
  min-width: 270px;
  background-color: #ffffff;
  border-right: 1px solid hsl(225, 10%, 80%);
}

.pageContainer {
  flex: 1;
  height: 100vh;
  display: flex;
  margin: 0px 8px;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0.5rem;
  overflow: auto;
}

.rightSideBar {
  flex: 0 1;
  width: 270px;
  padding: 8px;
  height: 100vh;
  display: flex;
  min-width: 270px;
  position: sticky;
  background-color: #ffffff;
  border-left: 1px solid hsl(225, 10%, 80%);
}

.base {
  cursor: move;
  background-color: #ffffff;
}

.row {
  padding: 0;
  border: 1px solid gray;
}

.row:focus {
  border: 1px solid gray;
}

.column {
  flex: 1 1 100%;
  // border: 1px solid gray;
}

.columns {
  display: flex;
  padding: 8px 0;
}

.dropZone {
  height: 24px;
  flex: 0 0 auto;
  transition: 200ms all;
}

.dropZone:nth-of-type(2n) {
  display: none;
}

.dropZone.horizontalDrag {
  width: 24px;
  height: auto;
}

.dropZone:not(.horizontalDrag).isLast {
  flex: 1 1 auto;
}

.dropZone.active,
.trashDropZone.active {
  background: hsl(205, 100%, 95%);
  transition: 100ms all;
  border: 2px dashed hsl(205, 100%, 50%);
}

.trashDropZone {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid purple;
}
