.palette-field {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  background-color: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 4px;
  cursor: grab;
}

.palette-field:focus {
  outline: solid 1px hsl(205, 100%, 45%);
}
