.work-flow-designer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.work-flow-designer .title-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 48px;
}

.work-flow-designer .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.1599999964237213px;
  text-align: left;
  color: #161616;
  cursor: pointer;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-height: 24px;
  min-height: 48px;
}

.cross-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.work-flow-designer .flow-designer-container {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
  border: 1px solid #f1f1f1;
}
