.generic-modal > .cds--modal-container {
  @media (min-width: 82rem) {
    inline-size: 75%;
    min-height: 680px;
    min-width: 1020px;
  }
  @media (min-width: 66rem) {
    max-block-size: 100%;
    min-height: 680px;
    min-width: 1020px;
  }
}

.generic-modal > .cds--modal-container-body {
  .page-content {
    display: contents;
  }
}

.generic-modal > .cds--modal-lg {
  .cds--modal-container {
    height: 100%;
  }
}
