html,
body {
  overflow: visible !important;
}

.activities-list-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cds--search {
  width: 30% !important;
}

.cds--dropdown,
.cds--list-box {
  top: 15% !important;
}

.cds--data-table-content {
  overflow: visible !important;
}

.cds--search,
.cds--search--expandable,
.cds--search-magnifier {
  justify-content: flex-end;
  display: flex;
  width: 100%;
  border: none;
  /* Ensure the container stretches full width */
}

.cds--search-close {
  margin-right: 30px !important;
}

.cds--search-close:focus,
.cds--search-close:hover,
.cds--search-close:active,
.cds--search-input:focus {
  outline: none !important;
}

tbody tr:nth-child {
  background-color: #f4f4f4 !important; // Light grey for odd rows
}

.cds--overflow-menu-options__btn {
  text-decoration: none !important;
}

.cds--data-table .cds--list-box input[role='combobox'],
.cds--data-table .cds--list-box input[type='text'],
.cds--data-table .cds--dropdown,
.cds--data-table .cds--list-box,
.cds--data-table .cds--number input[type='number'],
.cds--data-table .cds--number__control-btn::before,
.cds--data-table .cds--number__control-btn::after,
.cds--data-table .cds--text-input,
.cds--data-table .cds--select-input {
  background-color: transparent !important;
}


.header-buttons {
  position: absolute !important;
  top: 10px !important;
  right: 10px !important;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-end !important;
  margin-bottom: 1rem !important;
}

.filter-dropdown,
.import-button,
.new-button {
  margin-left: 8px !important;
}